<div *ngIf="!display" class="card card-table">
    <h5 [translate]="'label.till_management'"></h5>
    <p-table
        #dt1
        [value]="tills"
        dataKey="id"
        [rows]="10"
        [loading]="loading"
        styleClass="p-datatable-gridlines sidebar-custom"
        [paginator]="true"
        [responsiveLayout]="isMobile ? 'stack' : 'scroll'"
        [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [showCurrentPageReport]="true"
        [lazy]="true"
        (onLazyLoad)="getTills($event)"
        scrollDirection="both"
        [scrollable]="!isMobile"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(first)]="first"
    >
        <ng-template pTemplate="caption">
            <div
                class="flex justify-content-start md:justify-content-between flex-column md:flex-row"
            >
                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <input
                        #filter
                        [(ngModel)]="getParams.searchText"
                        pInputText
                        type="text"
                        (keypress)="onSearch($event)"
                        [placeholder]="'label.search' | translate"
                        class="w-full"
                    />
                </span>
                <div
                    class="flex justify-content-between md:justify-content-end mt-2 md:mt-0"
                >
                    <!-- add button -->
                    <button
                        *appHasAccess="{
                            menu: appConstant.MENU_TYPE.KET,
                            action: appConstant.PERMISSION_FUNC.ADD
                        }"
                        pButton
                        [label]="'button.addF7' | translate"
                        class="mb-2"
                        icon="pi pi-user-plus"
                        (click)="isEdit = false; showDialog()"
                    ></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="w-1">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <span [translate]="'label.session_finish'"></span>
                    </div>
                </th>
                <th class="w-1">
                    <div class="flex align-items-center">
                        <span [translate]="'label.shift_start'"></span>
                    </div>
                </th>
                <th class="w-1">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <span [translate]="'label.shift_end'"></span>
                    </div>
                </th>
                <th class="w-1">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <span [translate]="'label.money_start'"></span>
                    </div>
                </th>
                <th class="w-2">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <span [translate]="'label.money_end_auto'"></span>
                    </div>
                </th>
                <th class="w-2">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <span
                            [translate]="'label.money_difference_table_caption'"
                        ></span>
                    </div>
                </th>
                <th class="w-2">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <span [translate]="'label.amount_difference'"></span>
                    </div>
                </th>
                <th *ngIf="isMobile"></th>
                <th
                    *ngIf="!isMobile"
                    class="w-2"
                    alignFrozen="right"
                    pFrozenColumn
                    [frozen]="true"
                ></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-till>
            <tr>
                <td class="w-1">
                    <span
                        class="p-column-title"
                        [translate]="'label.session_finish'"
                    ></span>
                    <p-inputSwitch
                        [(ngModel)]="till.isFinish"
                        [readonly]="true"
                        [ngModelOptions]="{ standalone: true }"
                    ></p-inputSwitch>
                </td>
                <td class="w-1">
                    <span
                        class="p-column-title"
                        [translate]="'label.shift_start'"
                    ></span>
                    <p-badge
                        *ngIf="till.fromAt"
                        [value]="till.fromAt | date: 'dd/MM/yyyy HH:mm'"
                        severity="info"
                    ></p-badge>
                </td>
                <td class="w-1">
                    <span
                        class="p-column-title"
                        [translate]="'label.shift_end'"
                    ></span>
                    <p-badge
                        *ngIf="till.toAt"
                        [value]="till.toAt | date: 'dd/MM/yyyy HH:mm'"
                        severity="success"
                    ></p-badge>
                </td>
                <td class="w-1 flex md:justify-content-end">
                    <span
                        class="p-column-title"
                        [translate]="'label.money_start'"
                    ></span
                    >{{ till.fromAmount | number }}
                </td>
                <td class="w-2 flex md:justify-content-end">
                    <span
                        class="p-column-title"
                        [translate]="'label.money_end_auto'"
                    ></span
                    >{{ till.toAmountAuto | number }}
                </td>
                <td class="w-2">
                    <span
                        class="p-column-title"
                        [translate]="'label.money_difference_table_caption'"
                    ></span
                    >{{ calculateMoneyAfterEndOfShift(till) | number }}
                </td>
                <td class="w-2 flex md:justify-content-end">
                    <span
                        class="p-column-title"
                        [translate]="'label.amount_difference'"
                    ></span
                    >{{ till.amountDifferent | number }}
                </td>
                <td *ngIf="isMobile">
                    <button
                        *appHasAccess="{
                            menu: appConstant.MENU_TYPE.KET,
                            action: appConstant.PERMISSION_FUNC.EDIT
                        }"
                        pButton
                        class="p-button-warning"
                        icon="pi pi-pencil"
                        (click)="getDetail(till.id)"
                    ></button>
                    <button
                        *appHasAccess="{
                            menu: appConstant.MENU_TYPE.KET,
                            action: appConstant.PERMISSION_FUNC.DELETE
                        }"
                        pButton
                        class="p-button-danger"
                        icon="pi pi-trash"
                        (click)="onDelete(till.id)"
                    ></button>
                </td>
                <td
                    *ngIf="!isMobile"
                    alignFrozen="right"
                    pFrozenColumn
                    [frozen]="true"
                    class="w-2 flex justify-content-start md:justify-content-center"
                >
                    <button
                        *appHasAccess="{
                            menu: appConstant.MENU_TYPE.KET,
                            action: appConstant.PERMISSION_FUNC.EDIT
                        }"
                        pButton
                        class="p-button-warning"
                        icon="pi pi-pencil"
                        (click)="getDetail(till.id)"
                    ></button>
                    <button
                        *appHasAccess="{
                            menu: appConstant.MENU_TYPE.KET,
                            action: appConstant.PERMISSION_FUNC.DELETE
                        }"
                        pButton
                        class="p-button-danger"
                        icon="pi pi-trash"
                        (click)="onDelete(till.id)"
                    ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td class="w-full pt-4 pb-4">No till found.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td class="w-full pt-4 pb-4">
                    Loading till data. Please wait.
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-till-form
    #tillForm
    [isReset]="isReset"
    [display]="display"
    (onCancel)="display = false; getTills(null, false); isReset = false"
    [isEdit]="isEdit"
></app-till-form>
