<div *ngIf="form" class="grid">
    <div class="col-12 p-0">
        <div class="card card-table">
            <h5
                [translate]="
                    isEdit
                        ? 'label.edit_salary_social'
                        : 'label.add_salary_level'
                "
            ></h5>
            <form [formGroup]="form" autocomplete="off">
                <div class="grid w-full">
                    <div class="field col-12 md:col-3 flex flex-column">
                        <label
                            >{{ "label.code" | translate
                            }}<span class="text-pink-400">*</span></label
                        >
                        <input
                            type="text"
                            pInputText
                            [formControlName]="'code'"
                        />
                    </div>
                    <div class="field col-12 md:col-3 flex flex-column">
                        <label
                            >{{ "label.name" | translate
                            }}<span class="text-pink-400">*</span></label
                        >
                        <input
                            type="text"
                            pInputText
                            [formControlName]="'name'"
                        />
                    </div>
                    <div class="field col-12 md:col-3 flex flex-column">
                        <label>{{ "label.value_company" | translate }}</label>
                        <p-inputNumber
                            [formControlName]="'valueCompany'"
                            step="0.1"
                            mode="decimal"
                            [minFractionDigits]="1"
                            [showButtons]="true"
                        >
                        </p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3 flex flex-column">
                        <label>{{ "label.value_company" | translate }}</label>
                        <p-inputNumber
                            [formControlName]="'valueUser'"
                            step="0.1"
                            mode="decimal"
                            [showButtons]="true"
                            [minFractionDigits]="1"
                            [min]="0"
                        >
                        </p-inputNumber>
                    </div>

                    <ng-container
                        *ngTemplateOutlet="taiKhoanNoTmp"
                    ></ng-container>
                    <ng-container
                        *ngTemplateOutlet="chiTietNo1Tmp"
                    ></ng-container>
                    <ng-container
                        *ngTemplateOutlet="chiTietNo2Tmp"
                    ></ng-container>

                    <ng-container
                        *ngTemplateOutlet="taiKhoanCoTmp"
                    ></ng-container>
                    <ng-container
                        *ngTemplateOutlet="chiTietCo1Tmp"
                    ></ng-container>
                    <ng-container
                        *ngTemplateOutlet="chiTietCo2Tmp"
                    ></ng-container>

                    <div class="field col-12 md:col-3 flex flex-column">
                        <label>{{ "label.STT" | translate }}</label>
                        <input
                            type="text"
                            pInputText
                            [formControlName]="'order'"
                        />
                    </div>
                    <div class="field col-12 md:col-3 flex flex-column">
                        <div class="p-fluid p-formgrid grid mt-2">
                            <div
                                class="field col-12 gap-8 flex justify-content-end mt-4 p-0"
                            >
                                <p-button
                                    icon="pi pi-times"
                                    (click)="goBack()"
                                    [label]="'button.backF6' | translate"
                                    styleClass="p-button-outlined"
                                ></p-button>
                                <p-button
                                    icon="pi pi-check"
                                    [disabled]="!validation"
                                    (click)="onSubmit()"
                                    [label]="'button.saveF8' | translate"
                                >
                                </p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- tk co -->
<ng-template #taiKhoanCoTmp>
    <div class="field p-fluid col-12 md:col-3">
        <label
            htmlFor="creditCode"
            [translate]="'label.credit_code_name'"
        ></label>
        <div class="p-inputgroup w-full">
            <p-autoComplete
                #creditCodeTmp
                [ngModel]="fc['creditCode'].value"
                [ngClass]="{
                    'autocomplete-panel-hidden': isHiddenAutoCompleteCreditCode
                }"
                [emptyMessage]="emptyMessageAutoComplete"
                [suggestions]="creditCodeFilter"
                [showEmptyMessage]="true"
                [autoHighlight]="true"
                [lazy]="true"
                [virtualScroll]="true"
                [virtualScrollItemSize]="20"
                [completeOnFocus]="true"
                [showClear]="false"
                [autoWidth]="false"
                (completeMethod)="filterCreditCode($event)"
                (onFocus)="creditCodeTmp.handleDropdownClick()"
                (input)="fc['creditCode'].setValue($event?.target?.value)"
                (onClear)="onClearCreditCode()"
                (onSelect)="onSelectCreditCode($event)"
                field="code"
                class="p-inputtext-sm capitalize"
            >
                <ng-template let-credit pTemplate="item">
                    <div class="w-auto flex flex-nowrap align-content-center">
                        <div class="w-5rem border-right-1">
                            <p>{{ credit.code }}</p>
                        </div>
                        <div
                            class="w-26rem overflow-hidden border-right-1 px-1"
                        >
                            <marquee *ngIf="credit.name?.length > 54">{{
                                credit.name
                            }}</marquee>
                            <p class="mb-0" *ngIf="credit.name?.length <= 54">
                                {{ credit.name }}
                            </p>
                        </div>
                        <div class="w-6rem border-right-1 px-1">
                            <p>{{ credit.accGroup }}</p>
                        </div>
                        <div class="w-6rem px-1">
                            <p>{{ credit.closingDebit | number: "1.0-0" }}</p>
                        </div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <div
                (click)="creditCodeTmp.clear()"
                class="p-inputgroup-addon cursor-pointer"
            >
                <i class="pi pi-times"></i>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #chiTietCo1Tmp>
    <div class="field p-fluid col-12 md:col-3">
        <label
            htmlFor="debitCode"
            [translate]="'label.credit_1_code_name'"
        ></label>
        <div class="p-inputgroup w-full">
            <p-autoComplete
                #creditDetailCodeFirstTmp
                [ngModel]="fc['creditDetailCodeFirst'].value"
                [ngClass]="{
                    'autocomplete-panel-hidden':
                        isHiddenAutoCompleteCreditDetailCodeFirst
                }"
                [emptyMessage]="emptyMessageAutoComplete"
                [suggestions]="creditDetailCodeFirstFilter"
                [showEmptyMessage]="true"
                [autoHighlight]="true"
                [delay]="500"
                [disabled]="!isCreditCodeHas || !isCreditCodeHasDetails"
                [completeOnFocus]="true"
                [showClear]="false"
                [autoWidth]="false"
                (completeMethod)="filterCreditDetailCodeFirst($event)"
                (onFocus)="creditDetailCodeFirstTmp.handleDropdownClick()"
                (onKeyUp)="
                    onKeyUpAutoCompleteLazyLoadding({
                        event: $event,
                        key: configAriseEnum.creditDetailCodeFirst
                    })
                "
                (input)="
                    fc['creditDetailCodeFirst'].setValue($event?.target?.value)
                "
                (onClear)="onClearCreditDetailCodeFirst()"
                (onSelect)="onSelectCreditDetailCodeFirst($event)"
                field="code"
                class="p-inputtext-sm capitalize"
            >
                <ng-template let-credit pTemplate="item">
                    <div
                        *ngIf="credit"
                        class="w-auto flex flex-nowrap align-content-center"
                    >
                        <div class="w-5rem border-right-1">
                            <p>{{ credit.code }}</p>
                        </div>
                        <div class="w-3rem border-right-1 px-1">
                            <p>{{ credit.warehouseCode }}</p>
                        </div>
                        <div
                            class="w-26rem overflow-hidden border-right-1 px-1"
                        >
                            <marquee *ngIf="credit.name?.length > 54">{{
                                credit.name
                            }}</marquee>
                            <p class="mb-0" *ngIf="credit.name?.length <= 54">
                                {{ credit.name }}
                            </p>
                        </div>
                        <div class="w-6rem border-right-1 px-1">
                            <p>{{ credit.closingStockQuantity || 0 }}</p>
                        </div>
                        <div class="w-6rem px-1">
                            <p>
                                {{ credit.closingDebit || 0 | number: "1.0-0" }}
                            </p>
                        </div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <div
                (click)="creditDetailCodeFirstTmp.clear()"
                class="p-inputgroup-addon cursor-pointer"
            >
                <i class="pi pi-times"></i>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #chiTietCo2Tmp>
    <div class="field p-fluid col-12 md:col-3">
        <label
            htmlFor="debitCode"
            [translate]="'label.credit_2_code_name'"
        ></label>
        <div class="p-inputgroup w-full">
            <p-autoComplete
                #creditDetailCodeSecondTmp
                [ngModel]="fc['creditDetailCodeSecond'].value"
                [ngClass]="{
                    'autocomplete-panel-hidden':
                        isHiddenAutoCompleteCreditDetailCodeSecond
                }"
                [emptyMessage]="emptyMessageAutoComplete"
                [suggestions]="creditDetailCodeSecondFilter"
                [showEmptyMessage]="true"
                [autoHighlight]="true"
                [delay]="500"
                [disabled]="
                    !isCreditDetailCodeFirstHasDetails ||
                    !isCreditDetailCodeFirstHas
                "
                [completeOnFocus]="true"
                [showClear]="false"
                [autoWidth]="false"
                (completeMethod)="filterCreditDetailCodeSecond($event)"
                (onFocus)="creditDetailCodeSecondTmp.handleDropdownClick()"
                (onKeyUp)="
                    onKeyUpAutoCompleteLazyLoadding({
                        event: $event,
                        key: configAriseEnum.creditDetailCodeSecond
                    })
                "
                (input)="
                    fc['creditDetailCodeSecond'].setValue($event?.target?.value)
                "
                (onClear)="onClearCreditDetailCodeSecond()"
                (onSelect)="onSelectCreditDetailCodeSecond($event)"
                field="code"
                class="p-inputtext-sm capitalize"
            >
                <ng-template let-credit pTemplate="item">
                    <div
                        *ngIf="credit"
                        class="w-auto flex flex-nowrap align-content-center"
                    >
                        <div class="w-5rem border-right-1">
                            <p>{{ credit.code }}</p>
                        </div>
                        <div class="w-3rem border-right-1 px-1">
                            <p>{{ credit.warehouseCode }}</p>
                        </div>
                        <div
                            class="w-26rem overflow-hidden border-right-1 px-1"
                        >
                            <marquee *ngIf="credit.name.length > 54">{{
                                credit.name
                            }}</marquee>
                            <p class="mb-0" *ngIf="credit.name.length <= 54">
                                {{ credit.name }}
                            </p>
                        </div>
                        <div class="w-6rem border-right-1 px-1">
                            <p>{{ credit.closingStockQuantity || 0 }}</p>
                        </div>
                        <div class="w-6rem px-1">
                            <p>
                                {{ credit.closingDebit || 0 | number: "1.0-0" }}
                            </p>
                        </div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <div
                (click)="creditDetailCodeSecondTmp.clear()"
                class="p-inputgroup-addon cursor-pointer"
            >
                <i class="pi pi-times"></i>
            </div>
        </div>
    </div>
</ng-template>

<!-- tk no -->
<ng-template #taiKhoanNoTmp>
    <div class="field p-fluid col-12 md:col-3">
        <label
            htmlFor="debitCode"
            [translate]="'label.debit_code_name'"
        ></label>
        <div class="p-inputgroup w-full">
            <p-autoComplete
                #debitCodeTmp
                [ngModel]="fc['debitCode'].value"
                [suggestions]="debitCodeFilter"
                [ngClass]="{
                    'autocomplete-panel-hidden': isHiddenAutoCompleteDebitCode
                }"
                [emptyMessage]="emptyMessageAutoComplete"
                [showEmptyMessage]="true"
                [autoHighlight]="true"
                [lazy]="true"
                [virtualScroll]="true"
                [virtualScrollItemSize]="20"
                [completeOnFocus]="true"
                [showClear]="false"
                [autoWidth]="false"
                (completeMethod)="filterDebitCode($event)"
                (onFocus)="debitCodeTmp.handleDropdownClick()"
                (input)="fc['debitCode'].setValue($event?.target?.value)"
                (onClear)="onClearDebitCode()"
                (onSelect)="onSelectDebitCode($event)"
                field="code"
                class="p-inputtext-sm capitalize"
            >
                <ng-template let-debit pTemplate="item">
                    <div class="w-auto flex flex-nowrap align-content-center">
                        <div class="w-5rem border-right-1">
                            <p>{{ debit.code }}</p>
                        </div>
                        <div
                            class="w-26rem overflow-hidden border-right-1 px-1"
                        >
                            <marquee *ngIf="debit.name?.length > 54">{{
                                debit.name
                            }}</marquee>
                            <p class="mb-0" *ngIf="debit.name?.length <= 54">
                                {{ debit.name }}
                            </p>
                        </div>
                        <div class="w-6rem border-right-1 px-1">
                            <p>Tính chất {{ debit.accGroup }}</p>
                        </div>
                        <div class="w-6rem px-1">
                            <p>{{ debit.closingDebit | number: "1.0-0" }}</p>
                        </div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <div
                (click)="debitCodeTmp.clear()"
                class="p-inputgroup-addon cursor-pointer"
            >
                <i class="pi pi-times"></i>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #chiTietNo1Tmp>
    <!--debitDetail_1-->
    <div class="field p-fluid col-12 md:col-3">
        <label
            htmlFor="debitCode"
            [translate]="'label.debit_1_code_name'"
        ></label>
        <div class="p-inputgroup w-full">
            <p-autoComplete
                #debitDetailCodeFirstTmp
                [ngModel]="fc['debitDetailCodeFirst'].value"
                [ngClass]="{
                    'autocomplete-panel-hidden':
                        isHiddenAutoCompleteDebitDetailCodeFirst
                }"
                [emptyMessage]="emptyMessageAutoComplete"
                [suggestions]="debitDetailCodeFirstFilter"
                [showEmptyMessage]="true"
                [autoHighlight]="true"
                [delay]="500"
                [disabled]="!isDebitCodeHas || !isDebitCodeHasDetails"
                [completeOnFocus]="true"
                [showClear]="false"
                [autoWidth]="false"
                (completeMethod)="filterDebitDetailCodeFirst($event)"
                (onFocus)="debitDetailCodeFirstTmp.handleDropdownClick()"
                (input)="
                    fc['debitDetailCodeFirst'].setValue($event?.target?.value)
                "
                (onKeyUp)="
                    onKeyUpAutoCompleteLazyLoadding({
                        event: $event,
                        key: configAriseEnum.debitDetailCodeFirst
                    })
                "
                (onClear)="onClearDebitDetailCodeFirst()"
                (onSelect)="onSelectDebitDetailCodeFirst($event)"
                field="code"
                class="p-inputtext-sm capitalize"
            >
                <ng-template let-debit pTemplate="item">
                    <div
                        *ngIf="debit"
                        class="w-auto flex flex-nowrap align-content-center"
                    >
                        <div class="w-5rem border-right-1">
                            <p>{{ debit.code }}</p>
                        </div>
                        <div class="w-3rem border-right-1 px-1">
                            <p>{{ debit.warehouseCode }}</p>
                        </div>
                        <div
                            class="w-26rem overflow-hidden border-right-1 px-1"
                        >
                            <marquee *ngIf="debit.name?.length > 54">{{
                                debit.name
                            }}</marquee>
                            <p class="mb-0" *ngIf="debit.name?.length <= 54">
                                {{ debit.name }}
                            </p>
                        </div>
                        <div class="w-6rem border-right-1 px-1">
                            <p>{{ debit.closingStockQuantity || 0 }}</p>
                        </div>
                        <div class="w-6rem px-1">
                            <p>
                                {{ debit.closingDebit || 0 | number: "1.0-0" }}
                            </p>
                        </div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <div
                (click)="debitDetailCodeFirstTmp.clear()"
                class="p-inputgroup-addon cursor-pointer"
            >
                <i class="pi pi-times"></i>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #chiTietNo2Tmp>
    <div class="field p-fluid col-12 md:col-3">
        <label
            htmlFor="debitCode"
            [translate]="'label.debit_2_code_name'"
        ></label>
        <div class="p-inputgroup w-full">
            <p-autoComplete
                #debitDetailCodeSecondTmp
                [ngModel]="fc['debitDetailCodeSecond'].value"
                [ngClass]="{
                    'autocomplete-panel-hidden':
                        isHiddenAutoCompleteDebitDetailCodeSecond
                }"
                [emptyMessage]="emptyMessageAutoComplete"
                [suggestions]="debitDetailCodeSecondFilter"
                [showEmptyMessage]="true"
                [autoHighlight]="true"
                [delay]="500"
                [disabled]="
                    !isDebitDetailCodeFirstHasDetails ||
                    !isDebitDetailCodeFirstHas
                "
                [completeOnFocus]="true"
                [showClear]="false"
                [autoWidth]="false"
                (completeMethod)="filterDebitDetailCodeSecond($event)"
                (onKeyUp)="
                    onKeyUpAutoCompleteLazyLoadding({
                        event: $event,
                        key: configAriseEnum.debitDetailCodeSecond
                    })
                "
                (onFocus)="debitDetailCodeSecondTmp.handleDropdownClick()"
                (input)="
                    fc['debitDetailCodeSecond'].setValue($event?.target?.value)
                "
                (onClear)="onClearDebitDetailCodeSecond()"
                (onSelect)="onSelectDebitDetailCodeSecond($event)"
                field="code"
                class="p-inputtext-sm capitalize"
            >
                <ng-template let-debit pTemplate="item">
                    <div
                        *ngIf="debit"
                        class="w-auto flex flex-nowrap align-content-center"
                    >
                        <div class="w-5rem border-right-1">
                            <p>{{ debit.code }}</p>
                        </div>
                        <div class="w-3rem border-right-1 px-1">
                            <p>{{ debit.warehouseCode }}</p>
                        </div>
                        <div
                            class="w-26rem overflow-hidden border-right-1 px-1"
                        >
                            <marquee *ngIf="debit.name?.length > 54">{{
                                debit.name
                            }}</marquee>
                            <p class="mb-0" *ngIf="debit.name?.length <= 54">
                                {{ debit.name }}
                            </p>
                        </div>
                        <div class="w-6rem border-right-1 px-1">
                            <p>{{ debit.closingStockQuantity || 0 }}</p>
                        </div>
                        <div class="w-6rem px-1">
                            <p>
                                {{ debit.closingDebit || 0 | number: "1.0-0" }}
                            </p>
                        </div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <div
                (click)="debitDetailCodeSecondTmp.clear()"
                class="p-inputgroup-addon cursor-pointer"
            >
                <i class="pi pi-times"></i>
            </div>
        </div>
    </div>
</ng-template>
