<div class="card card-table">
    <h5 [translate]="'label.general_statistics'"></h5>
    <p-table
        #dt1
        [value]="lst"
        [columns]="cols"
        dataKey="id"
        [loading]="loading"
        [rowHover]="true"
        styleClass="p-datatable-gridlines sidebar-custom"
        [responsiveLayout]="isMobile ? 'stack' : 'scroll'"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [showCurrentPageReport]="true"
        scrollDirection="both"
        [scrollable]="!isMobile"
    >
        <ng-template pTemplate="caption">
            <div
                class="flex justify-content-between md:justify-content-end flex-column md:flex-row"
            >
                <button
                    pButton
                    [label]="'button.export' | translate"
                    class="p-button-warning mb-2 mx-2"
                    icon="pi pi-download"
                    (click)="exportGeneralStatistis()"
                ></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 170px"></th>
                <th *ngFor="let col of columns" style="width: 15%">
                    <span [translate]="col.name" class="mx-auto"></span>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lst>
            <tr *ngIf="lst.id == -1">
                <td style="width: 170px; font-weight: bold">{{ lst.name }}</td>
                <td
                    style="width: 15%; font-weight: bold"
                    *ngFor="let item of lst.listChildren"
                >
                    <span class="p-column-title" [translate]="item.name"></span>
                    <p>{{ item.soLuong }}</p>
                </td>
            </tr>
            <tr *ngIf="!(lst.id == -1)">
                <td style="width: 170px">{{ lst.name }}</td>
                <td
                    style="width: 15%"
                    *ngFor="let item of lst.listChildren"
                    (click)="getInfoDetail(item)"
                >
                    <span class="p-column-title" [translate]="item.name"></span>
                    <p>{{ item.soLuong }}</p>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td class="w-full pt-4 pb-4">No General Statistics found.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td class="w-full pt-4 pb-4">
                    Loading General Statistics data. Please wait.
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [(visible)]="displayHistories"
    [style]="{ 'min-width': '40vw' }"
>
    <ng-template pTemplate="header">
        <h6 class="m-0 text-white" [translate]="'label.detal_total'"></h6>
    </ng-template>
    <app-general-statistics-info
        [statis]="detail"
    ></app-general-statistics-info>
</p-dialog>
