<div *ngIf="!display" class="card card-table">
    <h5 [translate]="'label.web_slider_management'"></h5>
    <p-table
        #dt1
        [value]="result.data"
        dataKey="id"
        [rows]="10"
        [loading]="loading"
        [rowHover]="true"
        styleClass="p-datatable-gridlines sidebar-custom"
        [paginator]="true"
        [responsiveLayout]="isMobile ? 'stack' : 'scroll'"
        [totalRecords]="result.totalItems"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [showCurrentPageReport]="true"
        [lazy]="true"
        (onLazyLoad)="getSliders($event)"
        [scrollable]="!isMobile"
        scrollDirection="both"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
        <ng-template pTemplate="caption">
            <div
                class="flex justify-content-start md:justify-content-between flex-column md:flex-row"
            >
                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <input
                        #filter
                        [(ngModel)]="param.searchText"
                        pInputText
                        type="text"
                        (ngModelChange)="getSliders()"
                        [placeholder]="'label.search' | translate"
                        class="w-full"
                    />
                </span>
                <div
                    class="flex justify-content-between md:justify-content-end mt-2 md:mt-0 gap-2"
                >
                    <p-dropdown
                        [(ngModel)]="param.AdsensePosition"
                        (onChange)="getSliders()"
                        [options]="adsensePositions"
                        [optionLabel]="'name'"
                        [optionValue]="'value'"
                    ></p-dropdown>
                    <p-dropdown
                        [(ngModel)]="param.Type"
                        (onChange)="getSliders()"
                        [options]="languageTypes"
                        [optionLabel]="'name'"
                        [optionValue]="'value'"
                    ></p-dropdown>
                    <button
                        *appHasAccess="{
                            menu: appConstant.MENU_TYPE.SLIDER,
                            action: appConstant.PERMISSION_FUNC.ADD
                        }"
                        pButton
                        [label]="'button.addF7' | translate"
                        class="mb-2"
                        icon="pi pi-user-plus"
                        (click)="onAddSlider()"
                    ></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="w-3">
                    <div class="flex align-items-center">
                        <span [translate]="'label.web_slider_image'"></span>
                    </div>
                </th>
                <th class="w-4">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <span [translate]="'label.web_slider_name'"></span>
                    </div>
                </th>
                <th class="w-3">
                    <div class="flex align-items-center">
                        <span [translate]="'label.web_slider_type'"></span>
                    </div>
                </th>
                <th
                    class="w-2"
                    alignFrozen="right"
                    pFrozenColumn
                    [frozen]="true"
                ></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-slider>
            <tr>
                <td class="w-3">
                    <span
                        class="p-column-title"
                        [translate]="'label.web_slider_image'"
                    ></span>
                    <img height="45px" [src]="slider.imageUrl" />
                </td>
                <td class="w-4">
                    <span
                        class="p-column-title"
                        [translate]="'label.web_slider_name'"
                    ></span
                    >{{ slider.name }}
                </td>
                <td class="w-3">
                    <span
                        class="p-column-title"
                        [translate]="'label.web_slider_type'"
                    ></span
                    >{{ getLanguage(slider.type) }}
                </td>
                <td
                    alignFrozen="right"
                    pFrozenColumn
                    [frozen]="true"
                    class="w-2 flex justify-content-space md:justify-content-center"
                >
                    <button
                        *appHasAccess="{
                            menu: appConstant.MENU_TYPE.SLIDER,
                            action: appConstant.PERMISSION_FUNC.EDIT
                        }"
                        pButton
                        class="p-button-warning"
                        icon="pi pi-pencil"
                        (click)="getSliderDetail(slider)"
                    ></button>
                    <button
                        *appHasAccess="{
                            menu: appConstant.MENU_TYPE.SLIDER,
                            action: appConstant.PERMISSION_FUNC.DELETE
                        }"
                        pButton
                        class="p-button-danger"
                        icon="pi pi-trash"
                        (click)="onDeleteSlider(slider)"
                    ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr class="p-rowgroup-footer">
                <td colspan="10" class="w-full pt-4 pb-4">
                    {{ "info.no_data" | translate }}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="10" class="w-full pt-4 pb-4">
                    {{ "info.loading" | translate }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<ng-container
    *appHasAccess="{
        menu: appConstant.MENU_TYPE.SLIDER,
        action:
            appConstant.PERMISSION_FUNC.ADD || appConstant.PERMISSION_FUNC.EDIT
    }"
>
    <app-slider-edit
        [display]="display"
        [formData]="formData"
        (onCancel)="onCancelForm($event)"
    ></app-slider-edit>
</ng-container>
<p-confirmDialog
    #cd
    icon="pi pi-exclamation-triangle"
    [style]="{ 'min-width': '45vw' }"
>
    <ng-template pTemplate="header">
        <h4
            class="m-0 text-white"
            [translate]="'question.delete_web_slider_header'"
        ></h4>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            type="button"
            pButton
            icon="pi pi-times"
            [label]="'button.back' | translate"
            (click)="cd.reject()"
        ></button>
        <button
            class="p-button-danger"
            type="button"
            pButton
            icon="pi pi-check"
            [label]="'button.remove' | translate"
            (click)="cd.accept()"
        ></button>
    </ng-template>
</p-confirmDialog>
