<div *ngIf="!display" class="card card-table">
    <div
        class="py-2 flex flex-column sm:flex-row align-items-center sm:justify-content-between"
    >
        <h5 [translate]="'label.table_floor_management'"></h5>
        <div class="flex">
            <button
                pButton
                [label]="'button.export' | translate"
                class="p-button-warning mb-2 mr-2"
                icon="pi pi-download"
                (click)="getRoomTable(null, true)"
            ></button>
            <!-- add button -->
            <button
                pButton
                [label]="'button.addF7' | translate"
                icon="pi pi-plus"
                (click)="onAddRoomTable()"
            ></button>
        </div>
    </div>
    <p-table
        #dt1
        [value]="deskFloors"
        dataKey="id"
        [rows]="10"
        [loading]="loading"
        [rowHover]="true"
        styleClass="p-datatable-gridlines sidebar-custom"
        [paginator]="true"
        [responsiveLayout]="isMobile ? 'stack' : 'scroll'"
        [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [showCurrentPageReport]="true"
        [lazy]="true"
        (onLazyLoad)="getRoomTable($event)"
        scrollDirection="both"
        [scrollable]="!isMobile"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(first)]="first"
    >
        <ng-template pTemplate="caption">
            <div
                class="flex justify-content-start md:justify-content-between flex-column md:flex-row"
            >
                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <input
                        #filter
                        [(ngModel)]="getParams.searchText"
                        pInputText
                        type="text"
                        (keypress)="onSearch($event)"
                        [placeholder]="'label.search_by_name' | translate"
                        class="w-full"
                    />
                </span>
                <div
                    class="flex justify-content-between md:justify-content-end mt-2 md:mt-0"
                >
                    <!-- add button -->
                    <!-- <button pButton [label]="'button.add' | translate" class="mb-2" icon="pi pi-user-plus"
                                (click)="onAddRoomTable()"></button> -->
                </div>
            </div>
            <p-panel
                class="flex flex-column"
                [header]="'label.search_advanced' | translate"
                [toggleable]="true"
                [collapsed]="true"
            >
                <div class="grid p-fluid">
                    <div class="field col-12 md:col-6 lg:col-3">
                        <label
                            class="font-bold"
                            [translate]="'label.name_room_floor'"
                        ></label>
                        <p-dropdown
                            [(ngModel)]="getParams.floorId"
                            (onChange)="getRoomTable()"
                            [options]="floors"
                            showClear="true"
                            [optionLabel]="'name'"
                            [optionValue]="'id'"
                            [placeholder]="'label.empty' | translate"
                        ></p-dropdown>
                    </div>

                    <div class="field col-12 md:col-6 lg:col-3">
                        <label
                            class="font-bold"
                            [translate]="'label.sort_field'"
                        ></label>
                        <p-dropdown
                            [(ngModel)]="getParams.sortField"
                            (onChange)="onChangeSort($event, 'sortField')"
                            [options]="sortFields"
                            [optionLabel]="'label'"
                            [optionValue]="'code'"
                        ></p-dropdown>
                    </div>

                    <div class="field col-12 md:col-6 lg:col-3">
                        <label
                            class="font-bold"
                            [translate]="'label.sort_type'"
                        ></label>
                        <p-dropdown
                            [(ngModel)]="getParams.isSort"
                            (onChange)="onChangeSort($event, 'sortType')"
                            [options]="sortTypes"
                            [optionLabel]="'label'"
                            [optionValue]="'code'"
                        ></p-dropdown>
                    </div>

                    <div
                        class="field col-12 md:col-6 lg:col-3 flex flex-column"
                    >
                        <label
                            class="font-bold"
                            [translate]="'label.type'"
                        ></label>
                        <div class="flex">
                            <div class="field-radiobutton md:pr-6 mt-2 pt-1">
                                <p-radioButton
                                    id="isFloor1"
                                    name="isFloor"
                                    value="true"
                                    [(ngModel)]="getParams.isFloor"
                                    checked
                                    [ngModelOptions]="{ standalone: true }"
                                    (ngModelChange)="getRoomTable()"
                                >
                                </p-radioButton>
                                <label
                                    for="isFloor1"
                                    [translate]="'label.floor'"
                                ></label>
                            </div>
                            <div class="field-radiobutton mt-2 pt-1">
                                <p-radioButton
                                    id="isFloor2"
                                    name="isFloor"
                                    value="false"
                                    [(ngModel)]="getParams.isFloor"
                                    [ngModelOptions]="{ standalone: true }"
                                    (ngModelChange)="getRoomTable()"
                                ></p-radioButton>
                                <label
                                    for="isFloor2"
                                    [translate]="'label.desk'"
                                ></label>
                            </div>
                        </div>
                    </div>
                </div>
            </p-panel>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="w-2">
                    <div class="flex align-items-center">
                        <span [translate]="'label.number_order'"></span>
                    </div>
                </th>
                <th class="w-2">
                    <div class="flex align-items-center">
                        <span [translate]="'label.code'"></span>
                    </div>
                </th>
                <th class="w-2">
                    <div class="flex align-items-center">
                        <span [translate]="'label.name'"></span>
                    </div>
                </th>
                <th *ngIf="getParams.isFloor === 'false'" class="w-2">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <span [translate]="'label.name_room_floor'"></span>
                    </div>
                </th>
                <th class="w-2">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <span [translate]="'label.number_ordinal'"></span>
                    </div>
                </th>
                <th class="w-2">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <span [translate]="'label.number_or_seats'"></span>
                    </div>
                </th>
                <th *ngIf="isMobile"></th>
                <th
                    *ngIf="!isMobile"
                    style="width: 200px"
                    alignFrozen="right"
                    pFrozenColumn
                    [frozen]="true"
                ></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-deskFloor>
            <tr>
                <td class="w-2">
                    <span
                        class="p-column-title"
                        [translate]="'label.number_order'"
                    ></span
                    >{{ deskFloor.id }}
                </td>
                <td class="w-2">
                    <span
                        class="p-column-title"
                        [translate]="'label.code'"
                    ></span
                    >{{ deskFloor.code }}
                </td>
                <td class="w-2">
                    <span
                        class="p-column-title"
                        [translate]="'label.name'"
                    ></span
                    >{{ deskFloor.name }}
                </td>
                <td *ngIf="getParams.isFloor === 'false'" class="w-2">
                    <span
                        class="p-column-title"
                        [translate]="'label.name_room_floor'"
                    ></span
                    >{{ deskFloor.floorName }}
                </td>
                <td class="w-2">
                    <span
                        class="p-column-title"
                        [translate]="'label.number_ordinal'"
                    ></span
                    >{{ deskFloor.position }}
                </td>
                <td class="w-2">
                    <span
                        class="p-column-title"
                        [translate]="'label.number_or_seats'"
                    ></span
                    >{{ deskFloor.numberSeat }}
                </td>
                <td *ngIf="isMobile" style="height: 70px">
                    <button
                        *ngIf="!checkCodeRequired(deskFloor)"
                        pButton
                        class="p-button-warning"
                        icon="pi pi-pencil"
                        (click)="getDetail(deskFloor.id)"
                    ></button>
                    <button
                        *ngIf="!checkCodeRequired(deskFloor)"
                        pButton
                        class="p-button-danger"
                        icon="pi pi-trash"
                        (click)="onDelete(deskFloor.id)"
                    ></button>
                </td>
                <td
                    *ngIf="!isMobile"
                    alignFrozen="right"
                    pFrozenColumn
                    [frozen]="true"
                    class="flex justify-content-start md:justify-content-center"
                    style="height: 70px; width: 200px"
                >
                    <button
                        *ngIf="!checkCodeRequired(deskFloor)"
                        pButton
                        class="p-button-warning"
                        icon="pi pi-pencil"
                        (click)="getDetail(deskFloor.id)"
                    ></button>
                    <button
                        *ngIf="!checkCodeRequired(deskFloor)"
                        pButton
                        class="p-button-danger"
                        icon="pi pi-trash"
                        (click)="onDelete(deskFloor.id)"
                    ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td class="w-full pt-4 pb-4">No RoomTable found.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td class="w-full pt-4 pb-4">
                    Loading RoomTable data. Please wait.
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-room-table-form
    #roomTableForm
    [formData]="formData"
    [display]="display"
    (onCancel)="display = false; getRoomTable(null, false); isReset = false; getFloors()"
    [isEdit]="isEdit"
></app-room-table-form>

<p-confirmDialog
    #cd
    icon="pi pi-exclamation-triangle"
    [style]="{ 'min-width': '45vw' }"
>
    <ng-template pTemplate="header">
        <h4
            class="m-0 text-white"
            [translate]="'question.delete_room_table_header'"
        ></h4>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            type="button"
            pButton
            icon="pi pi-times"
            [label]="'button.back' | translate"
            (click)="cd.reject()"
        ></button>
        <button
            class="p-button-danger"
            type="button"
            pButton
            icon="pi pi-check"
            [label]="'button.remove' | translate"
            (click)="cd.accept()"
        ></button>
    </ng-template>
</p-confirmDialog>
