<div class="card card-table">
    <app-report-filter
        [title]="'Thuế giá trị gia tăng'"
        [filter]="getParams"
        (onPreview)="onAction('html')"
        (onPrint)="onAction('pdf')"
        (onPrintXML)="onAction('xml')"
        [types]="types"
        [showTypes]="showTypes"
        (onChangeFilter)="getParams = $event"
    ></app-report-filter>

    <div class="frame-container">
        <div class="frame-content">
            <div class="frame-report">
                <div id="iframe-html-report-balance-account"></div>
            </div>
        </div>
    </div>
</div>
