<div *ngIf="!display" class="card card-table">
    <h5 [translate]="'label.branch_management'"></h5>
    <p-table
        #dt1
        [value]="lstBranchs"
        dataKey="id"
        [rows]="10"
        [loading]="loading"
        [rowHover]="true"
        styleClass="p-datatable-gridlines sidebar-custom"
        [paginator]="true"
        [responsiveLayout]="isMobile ? 'stack' : 'scroll'"
        [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [showCurrentPageReport]="true"
        [lazy]="true"
        (onLazyLoad)="getBranchs($event)"
        scrollDirection="both"
        [scrollable]="!isMobile"
        currentPageReportTemplate="Shnpowing {first} to {last} of {totalRecords} entries"
        [(first)]="first"
    >
        <ng-template pTemplate="caption">
            <div
                class="flex justify-content-start md:justify-content-between flex-column md:flex-row"
            >
                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <input
                        #filter
                        [(ngModel)]="getParams.searchText"
                        pInputText
                        type="text"
                        (keypress)="onSearch($event)"
                        [placeholder]="'label.search' | translate"
                        class="w-full"
                    />
                </span>
                <div
                    class="flex justify-content-between md:justify-content-end mt-2 md:mt-0"
                >
                    <button
                        pButton
                        [label]="'button.export' | translate"
                        class="p-button-warning mb-2 mr-2"
                        icon="pi pi-download"
                        (click)="getBranchs(null, true)"
                    ></button>
                    <button
                        *appHasAccess="{
                            menu: appConstant.MENU_TYPE.CHINHANHWEB,
                            action: appConstant.PERMISSION_FUNC.ADD
                        }"
                        pButton
                        [label]="'button.addF7' | translate"
                        class="mb-2"
                        icon="pi pi-user-plus"
                        (click)="onAddBranch()"
                    ></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="w-1">
                    <div class="flex align-items-center">
                        <span [translate]="'label.number_order'"></span>
                    </div>
                </th>
                <th class="w-2">
                    <div class="flex align-items-center">
                        <span [translate]="'label.code'"></span>
                    </div>
                </th>
                <th class="w-2">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <span [translate]="'label.name'"></span>
                    </div>
                </th>
                <th class="w-4">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <span [translate]="'label.manager_name'"></span>
                    </div>
                </th>
                <th *ngIf="isMobile" class="w-3"></th>
                <th
                    *ngIf="!isMobile"
                    class="w-3"
                    alignFrozen="right"
                    pFrozenColumn
                    [frozen]="true"
                ></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td class="w-1">
                    <span
                        class="p-column-title"
                        [translate]="'label.number_order'"
                    ></span
                    >{{ user.id }}
                </td>
                <td class="w-2">
                    <span
                        class="p-column-title"
                        [translate]="'label.code'"
                    ></span
                    >{{ user.code }}
                </td>
                <td class="w-2">
                    <span
                        class="p-column-title"
                        [translate]="'label.name'"
                    ></span
                    >{{ user.name }}
                </td>
                <td class="w-4">
                    <span
                        class="p-column-title"
                        [translate]="'label.manager_name'"
                    ></span
                    >{{ user.managerName }}
                </td>
                <td *ngIf="isMobile" class="w-3">
                    <button
                        *appHasAccess="{
                            menu: appConstant.MENU_TYPE.CHINHANHWEB,
                            action: appConstant.PERMISSION_FUNC.EDIT
                        }"
                        pButton
                        class="p-button-warning"
                        icon="pi pi-pencil"
                        (click)="getDetail(user.id)"
                    ></button>
                    <button
                        *appHasAccess="{
                            menu: appConstant.MENU_TYPE.CHINHANHWEB,
                            action: appConstant.PERMISSION_FUNC.DELETE
                        }"
                        pButton
                        class="p-button-danger"
                        icon="pi pi-trash"
                        (click)="onDelete(user.id)"
                    ></button>
                </td>
                <td
                    *ngIf="!isMobile"
                    alignFrozen="right"
                    pFrozenColumn
                    [frozen]="true"
                    class="w-3 flex justify-content-start md:justify-content-center"
                >
                    <button
                        *appHasAccess="{
                            menu: appConstant.MENU_TYPE.CHINHANHWEB,
                            action: appConstant.PERMISSION_FUNC.EDIT
                        }"
                        pButton
                        class="p-button-warning"
                        icon="pi pi-pencil"
                        (click)="getDetail(user.id)"
                    ></button>
                    <button
                        *appHasAccess="{
                            menu: appConstant.MENU_TYPE.CHINHANHWEB,
                            action: appConstant.PERMISSION_FUNC.DELETE
                        }"
                        pButton
                        class="p-button-danger"
                        icon="pi pi-trash"
                        (click)="onDelete(user.id)"
                    ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td class="w-full pt-4 pb-4">No Branch found.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td class="w-full pt-4 pb-4">
                    Loading Branch data. Please wait.
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<ng-container
    *appHasAccess="{
        menu: appConstant.MENU_TYPE.CHINHANHWEB,
        action:
            appConstant.PERMISSION_FUNC.ADD || appConstant.PERMISSION_FUNC.EDIT
    }"
>
    <app-branch-web-edit
        #branchForm
        [formData]="formData"
        [isReset]="isReset"
        [display]="display"
        (onCancel)="display = false; getBranchs(null, false); isReset = false"
        [isEdit]="isEdit"
    ></app-branch-web-edit>
</ng-container>

<p-confirmDialog
    #cd
    icon="pi pi-exclamation-triangle"
    [style]="{ 'min-width': '45vw' }"
>
    <!-- <ng-template pTemplate="header">
        <h4 class="m-0 text-white" [translate]="'question.delete_branch_header'"></h4>
    </ng-template> -->
    <ng-template pTemplate="footer">
        <button
            type="button"
            pButton
            icon="pi pi-times"
            [label]="'button.back' | translate"
            (click)="cd.reject()"
        ></button>
        <button
            class="p-button-danger"
            type="button"
            pButton
            icon="pi pi-check"
            [label]="'button.remove' | translate"
            (click)="cd.accept()"
        ></button>
    </ng-template>
</p-confirmDialog>
