<!-- <p-toast></p-toast> -->
<!-- <p-dialog *ngIf="PositionForm.value" [header]="title" [(visible)]="display" -->
<!-- (onHide)="onCancel.emit({})" [modal]="true" [draggable]="false" [resizable]="false"> -->
<!-- <form [formGroup]="PositionForm" class="card mb-0"> -->
<!-- <div class="p-fluid p-formgrid grid mt-2"> -->
<!--code-->
<!-- <div class="field col-12"> -->
<!-- <label htmlFor="code" [translate]="'label.code'"></label> -->
<!-- <input pInputText id="code" [(ngModel)]="PositionForm.value.code" formControlName="code" -->
<!-- [ngClass]="checkValidValidator('code')" /> -->
<!-- <small *ngIf="checkValidValidator('code')" class="p-error" -->
<!-- [innerHTML]="'info.code' | translate"></small> -->
<!-- </div> -->
<!--name-->
<!-- <div class="field col-12"> -->
<!-- <label htmlFor="name" [translate]="'label.name'"></label> -->
<!-- <input pInputText id="name" [(ngModel)]="PositionForm.value.name" formControlName="name" -->
<!-- [ngClass]="checkValidValidator('name')" /> -->
<!-- <small *ngIf="checkValidValidator('name')" class="p-error" [innerHTML]="'info.name' | translate"></small> -->
<!-- </div> -->
<!-- </div> -->
<!-- </form> -->

<!-- <ng-template pTemplate="footer"> -->
<!-- <p-button icon="pi pi-times" (click)="onCancel.emit({})" [label]="'button.back' | translate" styleClass="p-button-outlined"></p-button> -->
<!-- <p-button icon="pi pi-check" (click)="onSubmit()" [label]="'button.save' | translate"></p-button> -->
<!-- </ng-template> -->
<!-- </p-dialog> -->

<p-toast></p-toast>
<div *ngIf="display" class="grid">
    <div class="col-12 p-0">
        <div class="card card-table">
            <h5
                [translate]="
                    isEdit ? 'label.edit_Position' : 'label.add_Position'
                "
            ></h5>
            <form [formGroup]="PositionForm">
                <div class="grid w-full">
                    <div class="field col-12 md:col-6 flex flex-column">
                        <label htmlFor="code"
                            >{{ "label.code" | translate
                            }}<span class="text-pink-400">*</span></label
                        >
                        <input
                            pInputText
                            id="code"
                            [(ngModel)]="PositionForm.value.code"
                            formControlName="code"
                            [ngClass]="checkValidValidator('code')"
                        />
                        <small
                            *ngIf="checkValidValidator('code')"
                            class="p-error"
                            [innerHTML]="'info.code' | translate"
                        ></small>
                    </div>
                    <div class="field col-12 md:col-6 flex flex-column">
                        <label htmlFor="name"
                            >{{ "label.name" | translate
                            }}<span class="text-pink-400">*</span></label
                        >
                        <input
                            pInputText
                            id="name"
                            [(ngModel)]="PositionForm.value.name"
                            formControlName="name"
                            [ngClass]="checkValidValidator('name')"
                        />
                        <small
                            *ngIf="checkValidValidator('name')"
                            class="p-error"
                            [innerHTML]="'info.name' | translate"
                        ></small>
                    </div>
                    <div class="field col-12 md:col-6 flex flex-column">
                        <label
                            htmlFor="order"
                            [translate]="'label.order'"
                        ></label>
                        <p-inputNumber
                            id="order"
                            [(ngModel)]="PositionForm.value.order"
                            formControlName="order"
                            [ngClass]="checkValidValidator('order')"
                        ></p-inputNumber>
                    </div>
                </div>
                <div class="col-12">
                    <div class="p-fluid p-formgrid grid mt-2">
                        <div
                            class="field col-12 gap-8 flex justify-content-end mt-4 p-0"
                        >
                            <p-button
                                icon="pi pi-times"
                                (click)="onBack()"
                                [label]="'button.backF6' | translate"
                                styleClass="p-button-outlined"
                            ></p-button>
                            <p-button
                                icon="pi pi-check"
                                (click)="onSubmit()"
                                [label]="'button.saveF8' | translate"
                            >
                            </p-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
