<div
    *ngIf="company"
    class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width: 80%">
        <div class="col-12 mt-5 xl:mt-0 text-center">
            <!-- <img src="assets/layout/images/{{config.dark ? 'logo-white' : 'logo-dark'}}.svg" alt="Prjasianasa logo" class="mb-5" style="width:81px; height:60px;"> -->
        </div>
        <div
            class="col-12 xl:col-6"
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="h-full w-full m-0 py-7 px-4"
                style="
                    border-radius: 53px;
                    background: linear-gradient(
                        180deg,
                        var(--surface-50) 38.9%,
                        var(--surface-0)
                    );
                "
            >
                <div class="flex flex-column mb-5">
                    <div class="flex justify-content-center">
                        <img
                            src="{{ serverURLImage + '/' + company.fileLogo }}"
                            alt="Image logo"
                            width="150"
                            height="150"
                            class="mb-3"
                        />
                    </div>
                    <div
                        class="flex flex-column md:flex-row justify-content-center"
                    >
                        <!-- <div class="text-xl pt-2 font-medium text-primary text-center" [innerHTML]="'app_title' | translate"></div> -->
                        <div
                            class="text-3xl pt-1 md:pl-1 font-bold text-primary text-center"
                            [translate]="company.name"
                        ></div>
                    </div>
                    <span
                        class="flex justify-content-center text-600 font-medium mt-4"
                        [translate]="'label.sign_in_to_continue'"
                    ></span>
                </div>
                <form [formGroup]="forgotFrm" (submit)="doLogin()">
                    <div class="field w-full md:w-10 mx-auto">
                        <label
                            for="username"
                            class="block text-xl font-medium"
                            [translate]="'label.username'"
                        ></label>
                        <input
                            id="username"
                            type="text"
                            [placeholder]="'label.username' | translate"
                            formControlName="username"
                            [class.ng-invalid]="invalidUsername"
                            [class.ng-dirty]="invalidUsername"
                            [(ngModel)]="forgotFrm.value.username"
                            pInputText
                            class="w-full mb-1"
                            style="padding: 1rem"
                        />
                        <small
                            *ngIf="invalidUsername"
                            class="p-error"
                            [innerHTML]="'info.invalid_username' | translate"
                        ></small>
                        <button
                            pButton
                            pRipple
                            [label]="'button.reset' | translate"
                            class="w-full p-3 mt-6 text-xl"
                        ></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
