<div *ngIf="!display" class="card card-table">
    <h5 [translate]="'label.type_of_document_management'"></h5>
    <p-table
        #dt1
        [value]="documents"
        dataKey="id"
        [rows]="10"
        [loading]="loading"
        [rowHover]="true"
        styleClass="p-datatable-gridlines sidebar-custom"
        [paginator]="true"
        [responsiveLayout]="isMobile ? 'stack' : 'scroll'"
        [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [showCurrentPageReport]="true"
        [lazy]="true"
        (onLazyLoad)="getDocuments($event)"
        scrollDirection="both"
        [scrollable]="!isMobile"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(first)]="first"
    >
        <ng-template pTemplate="caption">
            <div
                class="flex justify-content-start md:justify-content-between flex-column md:flex-row"
            >
                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <input
                        #filter
                        [(ngModel)]="getParams.searchText"
                        pInputText
                        type="text"
                        (keypress)="onSearch($event)"
                        [placeholder]="'label.search' | translate"
                        class="w-full"
                    />
                </span>
                <div
                    class="flex justify-content-between md:justify-content-end mt-2 md:mt-0"
                >
                    <button
                        *appHasAccess="{
                            menu: appConstant.MENU_TYPE.LOAICHUNGTU,
                            action: appConstant.PERMISSION_FUNC.ADD
                        }"
                        pButton
                        [label]="'button.addF7' | translate"
                        class="mb-2"
                        icon="pi pi-user-plus"
                        [routerLink]="['/uikit/category/type-of-document', 0]"
                    ></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="w-1">
                    <div class="flex align-items-center">
                        <span [translate]="'label.numerical_order'"></span>
                    </div>
                </th>
                <th class="w-1">
                    <div class="flex align-items-center">
                        <span
                            [translate]="'label.type_of_document_code'"
                        ></span>
                    </div>
                </th>
                <th class="w-2">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <span
                            [translate]="'label.type_of_document_name'"
                        ></span>
                    </div>
                </th>
                <th class="w-2">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <span [translate]="'label.debit_code_name'"></span>
                    </div>
                </th>
                <th class="w-2">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <span [translate]="'label.credit_code_name'"></span>
                    </div>
                </th>
                <th style="width: 300px">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <span [translate]="'label.user'"></span>
                    </div>
                </th>
                <th style="width: 300px">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <span [translate]="'label.title'"></span>
                    </div>
                </th>
                <th
                    *ngIf="isMobile"
                    style="width: 150px; min-width: 150px"
                    class="w-2"
                ></th>
                <th
                    *ngIf="!isMobile"
                    class="w-2"
                    alignFrozen="right"
                    pFrozenColumn
                    [frozen]="true"
                ></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-document>
            <tr>
                <td class="w-1">
                    <span
                        class="p-column-title"
                        [translate]="'label.numerical_order'"
                    ></span
                    >{{ document.stt }}
                </td>
                <td class="w-1">
                    <span
                        class="p-column-title"
                        [translate]="'label.type_of_document_code'"
                    ></span
                    >{{ document.code }}
                </td>
                <td class="w-2">
                    <span
                        class="p-column-title"
                        [translate]="'label.type_of_document_name'"
                    ></span
                    >{{ document.name }}
                </td>
                <td class="w-2">
                    <span
                        class="p-column-title"
                        [translate]="'label.debit_code_name'"
                    ></span
                    >{{ document.debitCode }}
                </td>
                <td class="w-2">
                    <span
                        class="p-column-title"
                        [translate]="'label.credit_code_name'"
                    ></span
                    >{{ document.creditCode }}
                </td>
                <td style="width: 300px">
                    <span
                        class="p-column-title"
                        [translate]="'label.user'"
                    ></span
                    >{{ document.userFullName }}
                </td>
                <td style="width: 300px">
                    <span
                        class="p-column-title"
                        [translate]="'label.title'"
                    ></span
                    >{{ document.title }}
                </td>
                <td *ngIf="isMobile" class="w-2">
                    <button
                        *appHasAccess="{
                            menu: appConstant.MENU_TYPE.LOAICHUNGTU,
                            action: appConstant.PERMISSION_FUNC.EDIT
                        }"
                        pButton
                        class="p-button-warning"
                        icon="pi pi-pencil"
                        [routerLink]="[
                            '/uikit/category/type-of-document',
                            document.id
                        ]"
                    ></button>
                    <ng-container
                        *appHasAccess="{
                            menu: appConstant.MENU_TYPE.LOAICHUNGTU,
                            action: appConstant.PERMISSION_FUNC.DELETE
                        }"
                    >
                        <button
                            pButton
                            *ngIf="document.stt > 15"
                            class="p-button-danger"
                            icon="pi pi-trash"
                            (click)="onDelete(document.id)"
                        ></button>
                    </ng-container>
                </td>
                <td
                    *ngIf="!isMobile"
                    alignFrozen="right"
                    pFrozenColumn
                    [frozen]="true"
                    class="w-2 flex justify-content-start md:justify-content-center"
                >
                    <button
                        *appHasAccess="{
                            menu: appConstant.MENU_TYPE.LOAICHUNGTU,
                            action: appConstant.PERMISSION_FUNC.EDIT
                        }"
                        pButton
                        class="p-button-warning"
                        icon="pi pi-pencil"
                        [routerLink]="[
                            '/uikit/category/type-of-document',
                            document.id
                        ]"
                    ></button>
                    <ng-container
                        *appHasAccess="{
                            menu: appConstant.MENU_TYPE.LOAICHUNGTU,
                            action: appConstant.PERMISSION_FUNC.DELETE
                        }"
                    >
                        <button
                            pButton
                            *ngIf="document.stt > 15"
                            class="pl-2 p-button-danger"
                            icon="pi pi-trash"
                            (click)="onDelete(document.id)"
                        ></button>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td class="w-full pt-4 pb-4">No Type of Document found.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td class="w-full pt-4 pb-4">
                    Loading Type of Document data. Please wait.
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog
    #cd
    icon="pi pi-exclamation-triangle"
    [style]="{ 'min-width': '45vw' }"
>
    <ng-template pTemplate="header">
        <h4
            class="m-0 text-white"
            [translate]="'question.delete_type_of_document_header'"
        ></h4>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            type="button"
            pButton
            icon="pi pi-times"
            [label]="'button.back' | translate"
            (click)="cd.reject()"
        ></button>
        <button
            class="p-button-danger"
            type="button"
            pButton
            icon="pi pi-check"
            [label]="'button.remove' | translate"
            (click)="cd.accept()"
        ></button>
    </ng-template>
</p-confirmDialog>
