<div class="card card-table">
    <div class="grid mt-2">
        <!--list queue-->
        <div
            class="col-12 md:col-3 sidebar-custom overflow-y-scroll"
            style="height: 88vh"
        >
            <h4>Danh sách đợi</h4>
            <div *ngFor="let msg of messages; let i = index">
                <div
                    *ngIf="msg.tranType.indexOf('SendToChef') >= 0"
                    nz-row
                    class="px-2 card mb-4"
                >
                    <div class="flex flex-column">
                        <div class="p-2 m-2">
                            <span
                                >Đơn hàng số:
                                <strong style="color: var(--green-400)">{{
                                    msg.displayOrder
                                }}</strong>
                                của NV
                                <strong class="text-primary">{{
                                    msg.userCode.trim()
                                }}</strong></span
                            ><br />
                            <i
                                class="px-0"
                                style="color: var(--gray-400); font-size: 12px"
                                >{{ msg.createdDate | date: "dd/MM/yyyy" }}</i
                            >
                        </div>
                        <div class="flex gap-8 justify-content-center pb-2">
                            <button
                                *ngIf="msg.prioritize > 0"
                                style="background-color: var(--orange-400)"
                                class="border-none"
                                pButton
                                type="button"
                                (click)="addPriority(msg)"
                            >
                                Ưu tiên
                            </button>
                            <button
                                *appHasAccess="{
                                    menu: appConstant.MENU_TYPE.QUANLYKHO,
                                    action: appConstant.PERMISSION_FUNC.EDIT
                                }"
                                style="background-color: var(--green-400)"
                                class="border-none"
                                pButton
                                type="button"
                                (click)="changeStatusCooking(msg)"
                            >
                                Thực hiện
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--on progress-->
        <div
            class="col-12 md:col-4 sidebar-custom overflow-y-scroll"
            style="height: 88vh"
        >
            <h4>Đang tiến hành</h4>
            <div *ngFor="let msg of messages; let i = index">
                <div
                    *ngIf="msg.tranType.indexOf('Cooking') >= 0"
                    nz-row
                    class="p-4 card flex flex-column mb-4"
                >
                    <div>
                        <span
                            >Khách hàng
                            <strong class="text-primary">{{
                                msg.customerName?.trim()
                            }}</strong>
                            đã đặt món
                            <strong style="color: var(--green-400)"
                                >thành công</strong
                            >
                            (Đơn hàng số:
                            <strong style="color: var(--green-400)">{{
                                msg.displayOrder
                            }}</strong>
                            của NV
                            <strong class="text-primary">{{
                                msg.userCode.trim()
                            }}</strong
                            >)</span
                        ><br />
                        <i
                            class="px-0"
                            style="color: var(--gray-400); font-size: 12px"
                            >{{ msg.createdDate | date: "dd/MM/yyyy" }}</i
                        >
                    </div>
                    <button
                        [loading]="isShowDetail"
                        type="button"
                        pButton
                        (click)="viewDetail(msg)"
                        [label]="'Xem chi tiết'"
                        class="mt-2"
                    ></button>
                </div>
            </div>
        </div>
        <!--bill detail-->
        <div
            class="col-12 md:col-5 sidebar-custom overflow-y-scroll"
            style="height: 88vh"
        >
            <h4>Chi tiết đơn hàng</h4>
            <div *ngIf="!appUtil.isEmpty(currentBill)">
                <div class="flex justify-content-between">
                    <p-breadcrumb
                        class="w-full"
                        [model]="[
                            { label: currentBill.floorName },
                            { label: currentBill.deskName }
                        ]"
                    >
                    </p-breadcrumb>
                </div>
            </div>
            <div
                class="card flex border-blue-400 align-items-center justify-content-between gap-8 mt-2"
                *ngFor="let good of currentBill.products; let i = index"
            >
                <div class="flex flex-column w-full mr-4">
                    <div class="flex justify-content-between w-full">
                        <span
                            >Món:
                            <span class="text-primary">{{ i + 1 }}</span></span
                        >
                        <span
                            >Số lượng:
                            <span class="text-primary">{{
                                good.quantity
                            }}</span></span
                        >
                    </div>

                    <span class="my-2 text-xl text-primary font-bold">{{
                        good.productName
                    }}</span>
                    <i *ngIf="!good.isError" class="mt-2">{{ good.note }}</i>
                    <span *ngIf="good.isError" class="mb-4">
                        <input
                            type="text"
                            pInputText
                            [(ngModel)]="good.note"
                            [ngModelOptions]="{ standalone: true }"
                            class="w-full"
                        />
                    </span>

                    <span *ngIf="good.isHasReason" class="mb-4">
                        <input
                            type="text"
                            pInputText
                            [(ngModel)]="good.reasonForManager"
                            [ngModelOptions]="{ standalone: true }"
                            class="w-full"
                        />
                    </span>

                    <div
                        *ngFor="let suggestion of good.suggestions"
                        class="flex flex-column card-container green-container"
                    >
                        <div class="flex">
                            <p-avatar
                                icon="pi pi-box"
                                pBadge
                                [(value)]="suggestion.quantity"
                                severity="success"
                                styleClass="mr-5"
                                size="large"
                            ></p-avatar>
                            <div class="flex align-items-center">
                                <span
                                    class="pi pi-fw pi-qrcode ml-2 text-primary"
                                    style="vertical-align: middle"
                                ></span>
                                <span class="ml-1">{{
                                    suggestion.qrCode
                                }}</span>

                                <span
                                    class="pi pi-fw pi-calendar ml-2 text-primary"
                                    style="vertical-align: middle"
                                ></span>
                                <span class="ml-1">{{
                                    suggestion.dateExpiration
                                        | date: "dd/MM/yyyy"
                                }}</span>
                            </div>
                        </div>

                        <div
                            *ngFor="let position of suggestion.positions"
                            class="flex justify-content-between m-2"
                        >
                            <div class="flex align-items-center">
                                <span
                                    class="pi pi-fw pi-map-marker text-primary"
                                    style="vertical-align: middle"
                                ></span>
                                <span class="ml-1"
                                    >{{ position.position }}({{
                                        position.quantity
                                    }})</span
                                >
                            </div>

                            <div class="flex justify-content-end">
                                <p-inputNumber
                                    [(ngModel)]="position.quantityReal"
                                    [showButtons]="true"
                                    inputId="integeronly"
                                    style="width: 90px; max-height: 40px"
                                ></p-inputNumber>
                                <button
                                    *ngIf="isShowQrCode"
                                    type="button"
                                    pButton
                                    pRipple
                                    icon="pi pi-qrcode"
                                    class="mx-2 p-button-success"
                                    (click)="
                                        onStartQRScan(suggestion, position)
                                    "
                                ></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-column text-right">
                    <div class="field font-bold">
                        <label
                            [translate]="'label.note'"
                            style="display: block"
                        ></label>
                        <p-inputSwitch
                            (click)="resetGoodsReason(good)"
                            [(ngModel)]="good.isHasReason"
                            [ngModelOptions]="{ standalone: true }"
                        ></p-inputSwitch>
                    </div>

                    <div class="field font-bold">
                        <label
                            [translate]="'left_menu.defective_goods'"
                        ></label>
                        <p-inputSwitch
                            (click)="resetGoodsNote(good)"
                            [(ngModel)]="good.isError"
                            [ngModelOptions]="{ standalone: true }"
                        ></p-inputSwitch>
                    </div>
                    <div class="field font-bold">
                        <label class="">Hoàn thành</label>
                        <p-inputSwitch
                            [(ngModel)]="good.isSelect"
                            [ngModelOptions]="{ standalone: true }"
                        ></p-inputSwitch>
                    </div>
                </div>
            </div>
            <ng-container
                *appHasAccess="{
                    menu: appConstant.MENU_TYPE.QUANLYKHO,
                    action: appConstant.PERMISSION_FUNC.EDIT
                }"
            >
                <button
                    *ngIf="
                        currentBill.products && currentBill.products.length > 0
                    "
                    (click)="changeStatusCooked()"
                    [disabled]="!allowDone()"
                    class="mt-4 w-full"
                    [label]="'Hoàn thành'"
                    pButton
                ></button>
            </ng-container>
        </div>
        <app-qr-scanner
            [isVisible]="isQRScannerVisible"
            (onScanSuccess)="onQRScanSuccess($event)"
            (onHide)="isQRScannerVisible = false"
        >
        </app-qr-scanner>
    </div>
</div>
