body {
    font-family: "Times New Roman";
}

.wrapper {
    width: 21cm;
    height: 13cm;
    margin: 0;
    padding-top: 20px;
}

.bill-header {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.bill-content {
    text-align: center !important;
    width: 100% !important;
    position: relative !important;
}

#bill-title {
    text-align: center;
}

.customer-info {
    width: 100%;
    table-layout: fixed;
}

.header-info {
    width: 100%;
}

.customer-info tr td {
    padding: 2px 0;
}

.prod-info td {
    font-size: 14px;
}

.detail-table {
    width: 100%;
    table-layout: fixed;
}

.detail-table tr th {
    padding: 10px 1px;
}

.detail-table,
.detail-table tr td,
.detail-table tr th {
    border: 1px groove black;
    border-collapse: collapse;
}

.detail-table .prod-info {
    padding: 2px;
    border-bottom: 1px dashed black;
}

.total-info td {
    border-left: none !important;
    border-right: none !important;
}

.bill-footer {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bill-footer .item {
    text-align: center;
}
