<p-toast></p-toast>
<div *ngIf="display" class="card card-table">
    <h5
        class="px-1"
        [translate]="
            isEdit ? 'label.edit_good-warehouses' : 'label.add_good-warehouses'
        "
    ></h5>
    <form [formGroup]="goodsForm" class="grid w-full">
        <!--status-->
        <div class="field col-12 md:col-4 flex flex-column">
            <label htmlFor="status">{{ "label.status" | translate }}</label>
            <p-dropdown
                id="status"
                [options]="types.status"
                [optionLabel]="'label'"
                [optionValue]="'value'"
                showClear="true"
                [formControlName]="'status'"
                [appendTo]="'body'"
                [placeholder]="'label.empty' | translate"
                [filter]="true"
                [ngClass]="checkValidValidator('status')"
                filterBy="name"
            ></p-dropdown>
            <small
                *ngIf="checkValidValidator('status')"
                class="p-error"
                [innerHTML]="'info.status' | translate"
            ></small>
        </div>

        <!--menuType-->
        <div
            *ngIf="!isPriceList"
            class="field col-12 md:col-4 flex flex-column"
        >
            <label htmlFor="menuType">{{
                "label.goods_group" | translate
            }}</label>
            <p-dropdown
                id="menuType"
                [options]="types.menuType"
                [optionLabel]="'name'"
                [optionValue]="'code'"
                showClear="true"
                [formControlName]="'menuType'"
                [appendTo]="'body'"
                [placeholder]="'label.empty' | translate"
                [filter]="true"
                filterBy="name"
            ></p-dropdown>
        </div>

        <!--priceList-->
        <div *ngIf="isPriceList" class="field col-12 md:col-4 flex flex-column">
            <label htmlFor="priceList">{{
                "label.price_list" | translate
            }}</label>
            <p-dropdown
                id="priceList"
                [options]="types.priceList"
                [optionLabel]="'name'"
                [optionValue]="'code'"
                showClear="true"
                [formControlName]="'priceList'"
                [appendTo]="'body'"
                [placeholder]="'label.empty' | translate"
                [filter]="true"
                filterBy="name"
            ></p-dropdown>
        </div>

        <!--warehouse-->
        <div class="field col-12 md:col-4 flex flex-column">
            <label htmlFor="warehouse">{{
                "label.warehouse" | translate
            }}</label>
            <p-dropdown
                id="warehouse"
                [options]="types.warehouse"
                [optionLabel]="'name'"
                [optionValue]="'code'"
                showClear="true"
                [formControlName]="'warehouse'"
                [appendTo]="'body'"
                [placeholder]="'label.empty' | translate"
                [filter]="true"
                [disabled]="true"
                filterBy="name"
            ></p-dropdown>
        </div>

        <!--debit-->
        <div class="field col-12 md:col-4 flex flex-column">
            <label htmlFor="debit"
                >{{ "label.account" | translate }}
                <span class="text-pink-400">*</span></label
            >
            <div class="flex">
                <div class="p-inputgroup w-full mr-2">
                    <p-autoComplete
                        id="debit"
                        [(ngModel)]="goodsForm.value.account"
                        [showEmptyMessage]="true"
                        [suggestions]="filteredDebitNames"
                        #debit
                        (onSelect)="onDebitSelect($event)"
                        [disabled]="debits1.length > 0"
                        (completeMethod)="filterDebitName($event)"
                        [minLength]="1"
                        [ngClass]="checkValidValidator('account')"
                        [ngModelOptions]="{ standalone: true }"
                        class="p-inputtext-sm"
                        [completeOnFocus]="true"
                    >
                    </p-autoComplete>
                    <div
                        class="p-inputgroup-addon cursor-pointer"
                        (click)="
                            onChangeCreditDebit(null, 'debit'); onFocus(vcDebit)
                        "
                    >
                        <i class="pi pi-times"></i>
                    </div>
                </div>
                <button
                    pButton
                    icon="pi pi-plus"
                    class="w-4rem"
                    (click)="addEditAccount.show()"
                ></button>
            </div>
            <small
                *ngIf="checkValidValidator('account')"
                class="p-error"
                [innerHTML]="'info.account' | translate"
            ></small>
        </div>

        <!--debit1-->
        <div class="field col-12 md:col-4 flex flex-column">
            <label htmlFor="debit1" [translate]="'label.detail_1'"></label>
            <div class="flex">
                <div class="p-inputgroup w-full mr-2">
                    <p-autoComplete
                        id="debit1"
                        [(ngModel)]="goodsForm.value.detail1"
                        [showEmptyMessage]="true"
                        #debit1
                        [suggestions]="filteredDebit1Names"
                        (onSelect)="onDebit1Select($event)"
                        (completeMethod)="filterDebit1Name($event)"
                        [disabled]="debits1.length === 0 || debits2.length > 0"
                        [minLength]="1"
                        [ngModelOptions]="{ standalone: true }"
                        class="p-inputtext-sm"
                        [completeOnFocus]="true"
                    >
                    </p-autoComplete>
                    <div
                        class="p-inputgroup-addon cursor-pointer"
                        (click)="
                            onChangeCreditDebit(null, 'debit1');
                            onFocus(vcDebit1)
                        "
                    >
                        <i class="pi pi-times"></i>
                    </div>
                </div>
                <button
                    pButton
                    icon="pi pi-plus"
                    class="w-4rem"
                    (click)="
                        goodsForm.value.account && onAddEditAccountDetail(true)
                    "
                ></button>
            </div>
        </div>

        <!--debit2-->
        <div class="field col-12 md:col-4 flex flex-column">
            <label htmlFor="debit2" [translate]="'label.detail_2'"></label>
            <div class="flex">
                <div class="p-inputgroup w-full mr-2">
                    <p-autoComplete
                        id="debit2"
                        [(ngModel)]="goodsForm.value.detail2"
                        [showEmptyMessage]="true"
                        [disabled]="debits2.length === 0"
                        [suggestions]="filteredDebit2Names"
                        (onSelect)="onDebit2Select($event)"
                        (completeMethod)="filterDebit2Name($event)"
                        [minLength]="1"
                        [ngModelOptions]="{ standalone: true }"
                        #debit2
                        class="p-inputtext-sm"
                        [completeOnFocus]="true"
                    >
                    </p-autoComplete>
                    <div
                        class="p-inputgroup-addon cursor-pointer"
                        (click)="
                            onChangeCreditDebit(null, 'debit2');
                            onFocus(vcDebit2)
                        "
                    >
                        <i class="pi pi-times"></i>
                    </div>
                </div>
                <button
                    pButton
                    icon="pi pi-plus"
                    class="w-4rem"
                    (click)="
                        goodsForm.value.detail1 && onAddEditAccountDetail(false)
                    "
                ></button>
            </div>
        </div>

        <!--inventory-->
        <!--        <div *ngIf="!isPriceList" class="field col-12 md:col-4 flex flex-column">-->
        <!--            <label htmlFor="inventory">{{ "label.inventory" | translate }}</label>-->
        <!--            <p-inputNumber id="inventory" [formControlName]="'inventory'"></p-inputNumber>-->
        <!--        </div>-->

        <!--type_of_document_code-->
        <div
            *ngIf="!isPriceList"
            class="field col-12 md:col-4 flex flex-column"
        >
            <label htmlFor="type_of_document_code">{{
                "label.type_of_document_code" | translate
            }}</label>
            <input
                pInputText
                id="type_of_document_code"
                formControlName="orginalVoucherNumber"
            />
        </div>

        <!--orderNumber-->
        <div
            *ngIf="!isPriceList"
            class="field col-12 md:col-4 flex flex-column"
        >
            <label htmlFor="orderNumber">{{
                "label.display_order" | translate
            }}</label>
            <input pInputText id="orderNumber" formControlName="order" />
        </div>

        <!--        &lt;!&ndash;costPrice&ndash;&gt;-->
        <!--        <div *ngIf="isPriceList" class="field col-12 md:col-4 flex flex-column">-->
        <!--            <label htmlFor="costPriceIn">{{ "label.cost_price_in" | translate }}</label>-->
        <!--            <p-inputNumber id="costPriceIn" [formControlName]="'costPriceIn'"></p-inputNumber>-->
        <!--        </div>-->

        <!--price-->
        <div *ngIf="isPriceList" class="field col-12 md:col-4 flex flex-column">
            <label htmlFor="price">{{ "label.price" | translate }}</label>
            <p-inputNumber
                id="price"
                [formControlName]="'price'"
            ></p-inputNumber>
        </div>

        <!--discountPrice-->
        <div *ngIf="isPriceList" class="field col-12 md:col-4 flex flex-column">
            <label htmlFor="discountPrice">{{
                "label.discount_price" | translate
            }}</label>
            <p-inputNumber
                id="discountPrice"
                [formControlName]="'discountPrice'"
            ></p-inputNumber>
        </div>

        <!--salePrice-->
        <div *ngIf="isPriceList" class="field col-12 md:col-4 flex flex-column">
            <label htmlFor="salePrice">{{
                "label.sale_price" | translate
            }}</label>
            <p-inputNumber
                id="salePrice"
                [formControlName]="'salePrice'"
            ></p-inputNumber>
        </div>

        <!--taxVAT-->
        <div *ngIf="isPriceList" class="field col-12 md:col-4 flex flex-column">
            <label htmlFor="taxVat">{{ "label.tax_vat" | translate }}</label>
            <p-inputNumber
                id="taxVat"
                [formControlName]="'taxVat'"
            ></p-inputNumber>
        </div>

        <!--manufactureDate-->
        <div
            *ngIf="!isPriceList"
            class="field col-12 md:col-4 flex flex-column"
        >
            <label htmlFor="dateManufacture">{{
                "label.dateManufacture" | translate
            }}</label>
            <p-calendar
                id="dateManufacture"
                [showIcon]="true"
                [formControlName]="'dateManufacture'"
            ></p-calendar>
        </div>

        <!--expiredDate-->
        <div
            *ngIf="!isPriceList"
            class="field col-12 md:col-4 flex flex-column"
        >
            <label htmlFor="dateExpiration">{{
                "label.dateExpiration" | translate
            }}</label>
            <p-calendar
                class="w-full"
                id="dateExpiration"
                [showIcon]="true"
                [formControlName]="'dateExpiration'"
            ></p-calendar>
        </div>

        <!--note-->
        <div
            *ngIf="!isPriceList"
            class="field col-12 md:col-4 flex flex-column"
        >
            <label htmlFor="code">{{
                "label.good_warehouses_description" | translate
            }}</label>
            <input
                pInputText
                id="code"
                [(ngModel)]="goodsForm.value.note"
                formControlName="note"
                [ngClass]="checkValidValidator('note')"
            />
            <small
                *ngIf="checkValidValidator('note')"
                class="p-error"
                [innerHTML]="'info.note' | translate"
            ></small>
        </div>

        <!--quantity-->
        <div
            *ngIf="!isPriceList"
            class="field col-12 md:col-4 flex flex-column"
        >
            <label htmlFor="quantity">{{
                "label.input_quantity" | translate
            }}</label>
            <p-inputNumber
                id="quantity"
                formControlName="quantity"
                mode="decimal"
                [min]="0"
                [showButtons]="true"
            >
            </p-inputNumber>
        </div>

        <!--image-->
        <div class="field col-9 flex flex-column">
            <label htmlFor="image">{{ "label.image" | translate }}</label>

            <div class="flex gap-8">
                <button
                    pButton
                    icon="pi pi-upload"
                    (click)="uploadFile.click()"
                    [label]="'button.import' | translate"
                ></button>
                <button
                    pButton
                    icon="pi pi-times"
                    (click)="onRemoveImages()"
                    [label]="'button.remove' | translate"
                ></button>
                <input
                    #uploadFile
                    class="hidden"
                    type="file"
                    (change)="doAttachFile($event)"
                    multiple
                />
            </div>
            <div class="flex gap-8 mt-3" *ngIf="fileListStr">
                <div *ngFor="let url of fileListStr">
                    <img
                        id="{{ url }}"
                        (click)="onImageClick(url)"
                        class="style_prev_kit"
                        src="{{ serverUrl + '/' + url }}"
                        width="120"
                        height="120"
                        alt="goods-image"
                    />
                </div>
            </div>
        </div>

        <div class="field col-12 flex flex-column">
            <p-messages *ngIf="isQuantityExceeded" severity="warn">
                <ng-template pTemplate>
                    <i
                        class="pi pi-exclamation-triangle"
                        style="font-size: 2rem"
                    ></i>
                    <div class="ml-2">
                        <strong>{{
                            "warning.quantity_exceeded" | translate
                        }}</strong>
                    </div>
                </ng-template>
            </p-messages>

            <app-good-warehouse-position
                [goodPositions]="goodPositions"
            ></app-good-warehouse-position>
        </div>

        <div
            class="field col-12 flex align-items-center justify-content-end gap-3"
        >
            <p-button
                icon="pi pi-times"
                (click)="onCancel.emit({})"
                [label]="'button.back' | translate"
                styleClass="p-button-outlined"
            ></p-button>
            <p-button
                icon="pi pi-check"
                (click)="onSubmit()"
                [label]="'button.save' | translate"
            ></p-button>
        </div>
    </form>
</div>
<add-edit-account
    #addEditAccount
    [accountType]="currentAccountType"
    (updateSuccessfull)="onAddEditAccountSuccess()"
></add-edit-account>
<add-edit-account-details
    #addEditAccountDetail
    [accountType]="currentAccountType"
    (updateSuccessfull)="onAddEditFirstChildAccountSuccess()"
></add-edit-account-details>
