<div *ngIf="accountDetail1" id="account-detail-second-module">
    <div class="account-table">
        <p-table
            #dtTmp
            *ngIf="pageData.data"
            styleClass="p-datatable-gridlines"
            [columns]="cols"
            [row]="pageData.data.length"
            [value]="pageData.data"
            [scrollHeight]="scrolHeight"
            [scrollable]="true"
            [virtualScroll]="true"
        >
            <ng-template pTemplate="caption">
                <ng-container
                    *ngTemplateOutlet="captionTableTmp"
                ></ng-container>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <ng-container
                    *ngTemplateOutlet="
                        headerTableTmp;
                        context: { columns: columns }
                    "
                ></ng-container>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <ng-container
                    *ngTemplateOutlet="
                        bodyTableTmp;
                        context: { rowData: rowData, columns: columns }
                    "
                ></ng-container>
            </ng-template>
        </p-table>
    </div>

    <p-paginator
        [rows]="queryParamsForChild.pageSize"
        [totalRecords]="pageData.totalItem"
        [showCurrentPageReport]="true"
        [currentPageReportTemplate]="
            'Hiển thị từ {first} đến {last} của {totalRecords} sản phẩm'
        "
        [rowsPerPageOptions]="[{ showAll: 'Tất cả' }, 50, 100, 150]"
        (onPageChange)="loadAccountsLazy($event)"
    >
    </p-paginator>
</div>

<ng-template #captionTableTmp>
    <div class="table-header">
        <div *ngIf="displayTitleText">
            <h5>
                Danh sách chi tiết 2 của chi tiết 1 "{{ accountDetail1.code }}:
                {{ accountDetail1.name }}", tài khoản "{{ account.code }}:
                {{ account.name }}"
            </h5>
        </div>

        <div class="table-header-filter">
            <div>
                <div class="p-inputgroup" style="height: 25px">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-search" style="line-height: 1.25"></i>
                    </span>
                    <input
                        pInputText
                        type="text"
                        [(ngModel)]="queryParamsForChild.searchText"
                        (input)="onSearchTable()"
                        placeholder="Tìm kiếm chi tiết 2"
                    />
                    <span
                        class="p-inputgroup-addon"
                        style="cursor: pointer"
                        (click)="
                            queryParamsForChild.searchText = ''; onSearchTable()
                        "
                    >
                        <i class="pi pi-times"></i>
                    </span>
                </div>
            </div>

            <div class="table-header-filter-right">
                <p-button
                    *ngIf="displayGoHomeButton"
                    [label]="'F6.Quay lại'"
                    icon="pi pi-arrow-left"
                    styleClass="bg-white text-primary ml-2"
                    (click)="onBackHomePage()"
                ></p-button>
                <p-button
                    *appHasAccess="{
                        menu: appConstant.MENU_TYPE.TAIKHOAN,
                        action: appConstant.PERMISSION_FUNC.ADD
                    }"
                    [label]="'F7.Thêm mới'"
                    [disabled]="!accountDetail1.displayInsert"
                    (click)="onAddAccount()"
                    icon="pi pi-plus"
                    class="ml-2"
                ></p-button>
                <p-dropdown
                    *ngIf="displayHoachToanNoiBoButton"
                    appendTo="body"
                    optionLabel="name"
                    [options]="accountTypeList"
                    (onChange)="onChangeAccountType($event)"
                    [(ngModel)]="currentAccountType"
                    class="ml-2"
                >
                    <ng-template let-data pTemplate="selectedItem">
                        <span>{{ data?.name | translate }}</span>
                    </ng-template>
                    <ng-template let-data pTemplate="item">
                        <span>{{ data?.name | translate }}</span>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #headerTableTmp let-columns="columns">
    <tr>
        <ng-container *ngFor="let col of columns">
            <th [ngClass]="col.styleClass">
                <span [translate]="col.header"></span>
            </th>
        </ng-container>
        <th>
            <div class="item-action invisible">
                <button
                    *ngIf="displayDeleteButton"
                    pButton
                    tooltipPosition="top"
                    type="button"
                    icon="pi pi-times"
                    class="p-button p-button-danger mr-1"
                ></button>
                <button
                    pButton
                    tooltipPosition="top"
                    type="button"
                    icon="pi pi-pencil"
                    class="p-button mr-1 p-button-warning"
                ></button>
                <button
                    *ngIf="displaySelectButton"
                    pButton
                    tooltipPosition="left"
                    type="button"
                    class="p-button ml-1 p-button-success"
                ></button>
            </div>
        </th>
    </tr>
</ng-template>

<ng-template #bodyTableTmp let-rowData="rowData" let-columns="columns">
    <tr>
        <ng-container *ngFor="let col of columns">
            <td [ngClass]="col.styleClass">
                <ng-container [ngSwitch]="col.type">
                    <ng-container *ngSwitchCase="columnType.ForeignCurrency">
                        {{
                            rowData[col.field] ? ("label.yes" | translate) : ""
                        }}
                    </ng-container>

                    <ng-container *ngSwitchCase="columnType.DoubleInString">
                        {{ rowData[col.field] | doubleInString }}
                    </ng-container>

                    <ng-container *ngSwitchDefault>
                        {{
                            rowData[col.field] == null ||
                            rowData[col.field] == undefined
                                ? ""
                                : rowData[col.field]
                        }}
                    </ng-container>
                </ng-container>
            </td>
        </ng-container>
        <td>
            <div class="item-action">
                <ng-container
                    *appHasAccess="{
                        menu: appConstant.MENU_TYPE.TAIKHOAN,
                        action: appConstant.PERMISSION_FUNC.DELETE
                    }"
                >
                    <button
                        *ngIf="displayDeleteButton"
                        pButton
                        tooltipPosition="top"
                        [pTooltip]="'button.remove' | translate"
                        [disabled]="!rowData.displayDelete"
                        (click)="onRemoveAccount(rowData)"
                        type="button"
                        icon="pi pi-times"
                        class="p-button p-button-danger mr-1"
                    ></button>
                </ng-container>
                <ng-container
                    *appHasAccess="{
                        menu: appConstant.MENU_TYPE.TAIKHOAN,
                        action: appConstant.PERMISSION_FUNC.DELETE
                    }"
                >
                    <button
                        pButton
                        tooltipPosition="top"
                        [pTooltip]="'button.update' | translate"
                        type="button"
                        icon="pi pi-pencil"
                        class="p-button mr-1 p-button-warning"
                        (click)="onEditAccount(rowData)"
                    ></button>
                    <button
                        *ngIf="displaySelectButton"
                        pButton
                        tooltipPosition="left"
                        [pTooltip]="'Chọn'"
                        type="button"
                        icon="pi pi-circle"
                        class="p-button ml-1 p-button-success"
                        (click)="onSelectItem.emit(rowData)"
                    ></button>
                </ng-container>
            </div>
        </td>
    </tr>
</ng-template>

<add-edit-account-details
    #addEditAccountDetailsTmp
    [accountType]="currentAccountType.value"
    (updateSuccessfull)="onAddEditAccountSuccessfull($event)"
>
</add-edit-account-details>
